{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
	{% block header %}
		<div class="wrapper">
			<h1 class="hdr-logo" role="banner">
				<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
			</h1>
			<nav id="nav-main" class="nav-main" role="navigation"></nav>
			<!-- #nav -->
		</div>
	{% endblock %}
</header>

<header class="bg-white">
	<nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
		<a href="#" class="-m-1.5 p-1.5">
			<span class="sr-only">Your Company</span>
			<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
		</a>
		<div class="flex lg:hidden">
			<button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
				<span class="sr-only">Open main menu</span>
				<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
				</svg>
			</button>
		</div>
		<div class="hidden lg:flex lg:gap-x-12">
			{% include "menu.twig" with {'items': main_menu.get_items} %}
		</div>
	</nav>
	<!-- Mobile menu, show/hide based on menu open state. -->
	<div
		class="lg:hidden" role="dialog" aria-modal="true">
		<!-- Background backdrop, show/hide based on slide-over state. -->
		<div class="fixed inset-0 z-10"></div>
		<div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
			<div class="flex items-center justify-between">
				<a href="#" class="-m-1.5 p-1.5">
					<span class="sr-only">Your Company</span>
					<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
				</a>
				<button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
					<span class="sr-only">Close menu</span>
					<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
					</svg>
				</button>
			</div>
			<div class="mt-6 flow-root">
				<div class="-my-6 divide-y divide-gray-500/10">
					<div class="space-y-2 py-6">
						<a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
						<a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
						<a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
						<a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>


<section id="content" role="main" class="content-wrapper">
	{% if title %}
		<h1>{{title}}</h1>
	{% endif %}
	<div class="wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}
</section>

{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
 <script defer type="module" src="{{ site.theme.link }}/static/app.js"></script></body></html>
