{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

<header class="bg-white">
	{% block header %}
		<nav x-data="{ mobileMenuIsOpen: false }" @click.away="mobileMenuIsOpen = false">
			<div class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
				<a href="{{site.url}}" class="-m-1.5 p-1.5">
					<span class="sr-only">{{site.name}}</span>
					<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
				</a>
				<div class="flex lg:hidden">
					<button @click="mobileMenuIsOpen = !mobileMenuIsOpen" :aria-expanded="mobileMenuIsOpen" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
						<span class="sr-only">Toggle main menu</span>
						<svg x-cloak x-show="!mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
						</svg>
						<svg x-cloak x-show="mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
						</svg>
					</button>
				</div>
				<div class="hidden lg:flex lg:gap-x-12">
					{% include "menu.twig" with {'items': main_menu.get_items} %}
				</div>
			</div>

			<div class="lg:hidden" role="dialog" aria-modal="true">
				<div x-cloak x-show="mobileMenuIsOpen" x-transition:enter="transition ease-in duration-150" x-transition:enter-start="opacity-0 transform" x-transition:enter-end="opacity-100 transform translate-y-content" x-transition:leave="transition ease-out duration-150" x-transition:leave-start="opacity-100 transform translate-x-0" x-transition:leave-end="opacity-0 transform" class="flex w-full overflow-y-auto bg-white px-6 py-6 ring-1 ring-gray-900/10 shadow-sm">
					<div class="divide-y divide-gray-500/10">
						<div class="space-y-2">
							{% include "menu-mobile.twig" with {'items': main_menu.get_items} %}
						</div>
					</div>
				</div>
			</div>
		</nav>

	{% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">
	{% if title %}
		<h1>{{title}}</h1>
	{% endif %}
	<div class="wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}
</section>

{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
<script defer type="module" src="{{ site.theme.link }}/static/app.js"></script></body></html>
